@charset "UTF-8";

.colorblock .c1, .colorblock .c1 * {
	color: #f55151;
}

.colorblock .c2, .colorblock .c2 * {
	color: #f59051;
}

.colorblock .c3, .colorblock .c3 * {
	color: #e2f551;
}

.colorblock .c4, .colorblock .c4 * {
	color: #7df551;
}

.colorblock .c5, .colorblock .c5 * {
	color: #51f5c1;
}

.colorblock .c6, .colorblock .c6 * {
	color: #51bef5;
}

.colorblock .c7, .colorblock .c7 * {
	color: #5161f5;
}

.colorblock .c8, .colorblock .c8 * {
	color: #8551f5;
}

.colorblock .c9, .colorblock .c9 * {
	color: #dc51f5;
}

.colorblock .c10, .colorblock .c10 * {
	color: #f5519b;
}