@charset "ISO-8859-1";

:root {
	/* Used for: Todo Markers, Syntax Text, All Headers, Title, Search Bar Text, Home Sub-Header Text, Active Copy Bar and Button Text */
	--C1: white;

	/* Used for Search Box focus */
	--C2: #f8f8ff;

	/* Used for default text color */
	--C3: #a9a9a9;

	/* Used for, Todo Gradient-to ??? TODO */
	--C4: #888;

	/* Used for, Todo Gradient-to ??? TODO */
	--C4-A: #7772;

	/* Used for Note Text */
	--C5: #696969;

	/* Used for Code Border */
	--C6: #555;

	/* Used for Button gradient-from */
	--C7: #4D4D4D;

	/* Used for Code Background */
	--C8: #333;

	/* Used for Search Bar Background and Table Border */
	--C9: #292929;

	/* Used for Default Background and Search Background*/
	--C10: #222;

	/* Used for ID Elements, Header Background, Content Background, Button gradient-to*/
	--C11: #181818;

	/* Used for Copybar Text */
	--C12: #000;

	/* Used for Info Active Text */
	--C13: red;

	/* Used for Unlinked */
	--C14: #d93838;

	/* Used for ??? TODO */
	--C15: #bb0;

	/* Used for ??? TODO */
	--C15-A: #bb05;

	/* Used for ??? TODO */
	--C16: gold;

	/* Used for Features */
	--C17: #329ca8;

	/* Used for Copybar Background */
	--C18: #43f094;

	/* Used for Syntax-Piece Text */
	--C19: #7fe384;

	/* Used for Todo Border, Todo Gradient-from */
	--C20: #85ffe2;

	/* Used for Hyperlink and Progress Bar */
	--C21: #7f84e3;

	/* Used for Button Selected */
	--C22: #7f84e3;

	/* Used for Button Active */
	--C23: #C0C2F1;
	
	/* Used for H2 bar color */
	--C24: var(--C21);

	--content-width: min(50em, calc(100vw - 4em));

	font-family: "Segoe UI", sans-serif;
	color: var(--C3);
	font-size: 1.2em;

	scroll-behavior: smooth;
	background-color: var(--C10);
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--C21);
}

a:hover {
	text-decoration: underline;
}

a.unlinked {
	color: var(--C14);
	cursor: pointer;
}

#Header {
	background-color: var(--C11);
	padding-top: 0.5em;
	height: 3em;
}

#Content {
	background: var(--C11);
	margin: 2em auto;
	padding: 1rem;
	max-width: calc(var(--content-width) - 2rem);
}

h1 {
	border-bottom: solid white .2rem;
}

h2 {
	display: flex;
}

h2::before, h2::after {
	content: '';
	height: 0.11rem;
	margin: auto 0;
}
h2::before {
	background-color: var(--C24);
	width: 1.2rem;
	margin-right: .8rem;
}

h2::after {
	background: linear-gradient(to right, var(--C24), var(--C1));
	flex-grow: 1;
	margin-left: .8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--C1);
}

h3 {
	margin-bottom: .5em;
	margin-top: .5em;
}

h5,
h6 {
	font-variant: small-caps;
	font-weight: normal;
}

#HeaderContent {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#Title {
	background-color: transparent;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: top;
	font-weight: bold;
	color: var(--C1);
}

#Search {
	background-color: var(--C10);
	width: 15rem;
	float: right;
	font-style: italic;
	margin: 0;
	padding: 0.5em;
	color: var(--C2);
	vertical-align: top;
	box-sizing: border-box;
	border: none;
	outline: none;
	transition: width .2s ease-in-out;
}

#Search:focus {
	border: 0.1em solid var(--C2);
	width: 20rem;
}

#HeaderContentMenu,
#HeaderContentTitle {
	height: 50%;
	display: flex;
	vertical-align: middle;
}

#HeaderContentMenu>a,
#HeaderContentMenu>.button {
	cursor: pointer;
	font-size: 0.75em;
	text-align: center;
	--from-color: var(--C7);
	background: linear-gradient(to top, var(--from-color), var(--C11));
	color: var(--C1);
	margin: 0 1px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
#HeaderContentMenu>a:first-child {
	margin-left: 0;
}
#HeaderContentMenu>.button {
	min-width: 2em;
	margin-right: 0;
	aspect-ratio: 1 / 1;
}

#HeaderContentMenu a {
	text-decoration: none;
	font-size: 0.75em;
	width: 7.65em;
}

#HeaderContent div:empty {
	flex: auto;
}

#HeaderContentMenu .selected {
	--from-color: var(--C22);
	font-weight: bold;
}

#HeaderContentMenu a:active,
#HeaderContentMenu>.button:active {
	--from-color: var(--C23);
}

/* Features */
@keyframes target-highlight {

	15%,
	60% {
		background-color: var(--C17);
	}
}

:target {
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-name: target-highlight;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

#ProgressBar {
	background: var(--C21);
	position: fixed;
	top: 0;
	left: 0;
	width: .2em;
	height: 0;
}

p {
	margin: .4rem 0;
}

p.description {
	font-style: italic;
}

p.description>i {
	font-style: normal;
}

/* Tables */
table td,
table {
	border: 1px solid var(--C9);
	border-collapse: collapse;
	padding: .3em;
}

table th {
	padding-left: .5em;
	padding-right: .5em;
}

table {
	margin: 1em 0 .5em;
}

/* Stuff to undo unwanted table styles for syntax & syntax breakdown tables */
.syntax,
.syntax td,
.syntax-breakdown,
.syntax-breakdown td {
	border: none;
	border-collapse: initial;
	padding: initial;
	margin: initial;
}

code {
	background: var(--C8);
	padding: 0 3px;
	border-radius: 2px;
	border: solid var(--C6) 1px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	tab-size: 4;
}

/* Codeblocks */
pre>code {
	display: block;
	padding: 5px;
	overflow-x: auto;
}

/* Syntax */
.syntax code,
code.decorated,
.decorated code {
	/* Literal Code */
	font-family: monospace;
	background: none;
	border: none;
	font-size: 1.1em;
	color: var(--C1);
}

.syntax-piece {
	font-family: monospace;
	font-style: italic;
	font-size: 1.1em;
	color: var(--C19);
}

.syntax-piece>i {
	font-style: normal;
}

.syntax .syntax-piece,
.decorated.syntax-piece,
.decorated .syntax-piece {
	border: var(--C9) solid 1px;
	padding: 1px 2px;
	line-height: 2;
}

.syntax .optional,
.decorated.optional,
.decorated .optional {
	border: var(--C15-A) 1px solid;
	padding: 3px 1px;
}

.syntax .syntax-piece,
.decorated.syntax-piece,
.decorated .syntax-piece {
	/* Override for when node is both optional and a syntax-piece */
	padding: 1px 2px;
}

.syntax .optional::after,
.decorated.optional::after,
.decorated .optional::after {
	content: "(optional)";
	font-size: .55rem;
	color: var(--C15);
	font-style: italic;
	font-family: monospace;
}

.syntax td {
	margin: .2em .25em;
}

.syntax-number,
.syntax td:first-child {
	--bubble-color: currentcolor;
	border-radius: 50%;
	border: solid var(--bubble-color) 2px;
	aspect-ratio: 1 / 1;
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0 5px 0 0;
	height: 1.51em;
	font-weight: bold;
}

.syntax-number.inline {
	margin: 2.5px 0;
}

.syntax td:first-child {
	margin-top: 5px;
}

.syntax-breakdown {
	margin: 1em .4em;
	border: var(--C9) solid 1px;
	padding: .4em;
}

.syntax-breakdown td {
	vertical-align: top;
	padding: .4em;
}

.syntax-breakdown ul,
.syntax-breakdown ol {
	margin: .1em;
}

.syntax-breakdown td:first-child {
	/* Syntax Fragments */
	text-align: right;
	white-space: nowrap;
}

/* Info Popups */
sup[info] {
	color: gold;
	cursor: pointer;
}

sup[info]:empty::before {
	content: '[' attr(info) ']';
}

sup[info]:hover {
	text-decoration: underline;
}

sup[info]:active {
	color: red;
}

sup[info].inline {
	/* Appears inline, not shrunk, and not vertically lifted. */
	vertical-align: inherit;
	font-size: inherit;
}

span[info]::before {
	content: '[' attr(info) ']';
	color: var(--C16);
	vertical-align: super;
	font-size: .86em;
}

.note {
	/* Notes */
	margin-left: 1.5em;
}

span[info],
.note {
	font-size: .75em;
	font-style: italic;
	color: var(--C5);
}

span[info]>i,
.note>i {
	font-style: normal;
}

span[info] {
	transition: opacity .6s;
	opacity: 0;
	position: fixed;
	display: none;
	margin: .2em 20px;
	overflow: hidden;
}

span[info].inline {
	font-size: 0;
	position: static;
	color: inherit;
	transition: font-size .6s;
	margin: 0;
}

span[info].visible {
	opacity: 1;
	position: static;
	display: block;
	overflow: unset;
}

span[info].visible.inline {
	font-size: .8em;
	display: inline;
}

/* Shrunk Elements */
span.shrink {
	vertical-align: baseline;
}

span.shrink>:first-child {
	overflow: hidden;
	--shrink-size: 10em;
	max-width: var(--shrink-size);
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	transition: max-width .4s ease-out;
}

span.shrink.expanded>:first-child {
	max-width: unset;
	white-space: normal;
	word-break: break-word;
}

span.shrink>:last-child {
	cursor: pointer;
}

span.shrink>:last-child::after {
	content: '(expand)';
	color: var(--C16);
	font-size: .75em;
	font-style: italic;
	font-family: monospace;
}

span.shrink>:last-child:hover::after {
	color: var(--C13);
}

span.shrink.expanded>:last-child::after {
	content: '(shrink)';
}

/* Page Sections */
section {
	padding: .5em 1.5em 1em 1.5em;
	border: 2px solid var(--C4);
	margin-top: 2em;
}

section[sect-symbol] {
	position: relative;
	padding-top: 2.5em;
}

section[sect-symbol]::before {
	content: attr(sect-symbol);
	border: 2px solid var(--C4);
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	left: -2px;
	top: -2px;
	min-width: 2ex;
	text-align: center;
}

/* Specialized DIV elements */
div.block {
	margin: 1em 2em;
}

div.grouper {
	margin: none;
	padding: none;
}

/* Linklist */
#Linklist>li::marker {
	color: var(--link-color);
	content: '[' counter(list-item) '] ';
}

#Linklist>li {
	margin: .7em 0;
}

/* To Do Markers */
.todo::before {
	content: 'TODO: ';
	color: var(--C1);
}

.todo:empty::before {
	content: 'TODO';
}

.todo {
	border: var(--C20) solid .15rem;
	border-radius: 2px;
	font-family: monospace;
}

div.todo {
	padding: .3em;
	padding-left: 1em;
	display: table;
	background: linear-gradient(to right, var(--C20) 0.2rem, var(--C4-A) 0.2rem);
	background-position: -1px 0;
	margin-top: 1em;
}

div.todo:empty {
	padding-left: .6em;
}

span.todo {
	padding-left: 3px;
	padding-right: 3px;
}