@charset "ISO-8859-1";

:root {
	--C1
	/* Used for: Todo Markers, Syntax Text, All Headers, Title, Search Bar Text, Home Sub-Header Text, Active Copy Bar and Button Text */
	: #ffffff;

	--C2
	/* Used for Search Box focus */
	: #f8f8ff;

	--C3
	/* Used for default text color */
	: #a9a9a9;

	--C4
	/* Used for, Todo Gradient-to ??? TODO */
	: #888888;

	--C5
	/* Used for Note Text */
	: #696969;

	--C6
	/* Used for Code Border */
	: #555555;

	--C7
	/* Used for Button gradient-from */
	: #4D4D4D;

	--C8
	/* Used for Code Background */
	: #333333;

	--C9
	/* Used for Search Bar Background and Table Border */
	: #292929;

	--C10
	/* Used for Default Background and Search Background*/
	: #222222;

	--C11
	/* Used for ID Elements, Header Background, Content Background, Button gradient-to*/
	: #181818;

	--C12
	/* Used for Copybar Text */
	: #000000;

	--C13
	/* Used for Info Active Text */
	: #ff0000;

	--C14
	/* Used for Unlinked */
	: #d93838;

	--C15
	/* Used for ??? TODO */
	: #bbbb00;

	--C16
	/* Used for ??? TODO */
	: #f5d142;

	--C17
	/* Used for Features */
	: #329ca8;

	--C18
	/* Used for Copybar Background */
	: #43f094;

	--C19
	/* Used for Syntax-Piece Text */
	: #7fe384;

	--C20
	/* Used for Todo Border, Todo Gradient-from */
	: #85ffe2;

	--C21
	/* Used for Hyperlink */
	: #7f84e3;
	
	--C22
	/* Used for Button Selected */
	: #7f84e3;

	--C23
	/* Used for Button Active */
	: #C0C2F1;

	--content-width: min(50em, calc(100vw - 4em));

	font-family: "Segoe UI", sans-serif;
	color: var(--C3);
	font-size: 1.2em;
	background-color: var(--C10);
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--C21);
}

a:hover {
	text-decoration: underline;
}

#Header {
	background-color: var(--C11);
	padding-top: 0.5em;
	height: 3em;
}

#Content {
	background: var(--C11);
	margin: 2em auto;
	padding: 1rem;
	max-width: calc(var(--content-width) - 2rem);
}

h1 {
	color: var(--C1);
	border-bottom: solid var(--C10) 2px;
}

#HeaderContent {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#Title {
	background-color: transparent;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color: var(--C1);
}

#Search {
	background-color: var(--C10);
	width: 15rem;
	float: right;
	font-style: italic;
	margin: 0;
	padding: 0.5em;
	color: var(--C2);
	vertical-align: top;
	box-sizing: border-box;
	border: none;
	outline: none;
	transition: width .2s ease-in-out;
}

#Search:focus {
	border: 0.1em solid var(--C2);
	width: 20rem;
}

#HeaderContentMenu,
#HeaderContentTitle {
	height: 50%;
	display: flex;
	vertical-align: middle;
}

#HeaderContentMenu>.button {
	width: 2em;
}

#HeaderContentMenu>a,
#HeaderContentMenu>.button {
	cursor: pointer;
	font-size: 0.75em;
	text-align: center;
	--from-color: var(--C7);
	background: linear-gradient(to top, var(--from-color), var(--C11));
	color: var(--C1);
	margin: 0 1px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#HeaderContentMenu a {
	text-decoration: none;
	font-size: 0.75em;
	width: 7.65em;
}

#HeaderContent div:empty {
	flex: auto;
}

#HeaderContentMenu .selected {
	--from-color: var(--C22);
	font-weight: bold;
}

#HeaderContentMenu a:active,
#HeaderContentMenu>.button:active {
	--from-color: var(--C23);
}