@charset "ISO-8859-1";

:root {
	background-color: #222;
	font-family: "Segoe UI", sans-serif;
	color: darkgray;
	font-size: 1.2em;
}

body {
	margin: 0;
}

#Header {
	background-color: #171717;
	padding-top: 1em;
	height: 4em;
}

#HeaderContent {
	max-width: min(60em, calc(100vw - 4em));
	margin-left: auto;
	margin-right: auto;
}

#Content {
	background: #171717;
	margin: 2em auto;
	padding: 1rem;
	max-width: calc(min(60em, calc(100vw - 4em)) - 2rem);
}

h1 {
	color: white;
	border-bottom: solid #222 2px;
}

#HeaderContent {
	max-width: min(60em, calc(100vw - 4em));
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#HeaderContentTitle {
	background-color: white;
	height: 50%;
}

#HeaderContentMenu {
	background-color: deeppink;
	height: 50%;
}