@charset "ISO-8859-1";

:root.light-theme {
	--main-color: #D8D8D8;
	--accent-color: black;
	--link-color: #2932E8;
	--background-color: #E9E9E9;
	--background-accent-color: #CBCBCB;
	--search-bar-color: #D8D8D8;
	--button-gradient-color: #CECECE;
}